<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="style.css">
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		</head>
			<body>
				<div class="topContainer">
					<div class="topText">You'll Never Know</div>
				</div>
				<div class"ParContainer">
					{{post.content|safe}}

				<div class="button">
					<i class="fa fa-heart"></i> 
					<div class="recommend">Recommend</div>
				</div>


				</div>
			</body>
	</html>


