

body {
    padding-left: 5px;
}


.page-header {

    width:98%;
    height:85px;
    top:0px;
    position: fixed;
    background-color: #3b5998;
    z-index: 1;margin:0 auto;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.row {
    float:left;
    margin-top: 120px;
    
}


h1{
    font-family: 'Lobster' ;
    
}
h4{
    font-size: 1.5em;
    
}
span{
    display:inline-block;
    width:220pt;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    
}
/* unvisited link */
a:link {
    color: #0000ff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #dd6666;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: #66aa66;
    text-decoration: underline
}
/*XXX=====================================*/
.page_title {
    margin-left: 20px;
    width: 45%;
    height:auto;
    background: auto;
    float: left;
}
.search {
    margin-top: 40px;
    margin-left: 45%;
    height:auto;
    background: auto;
    
}
/*=============================
===================================*/
ul.tileMe {

    list-style: none;
    font-size: 0px;
    margin-left: 2.5%; /* should match li left margin */
}
ul.tileMe li {
    width:250pt;
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    
    
}

ul.tileMe.columns-3 li {
    width: 30.83%; 
}
ul.tileMe li img {
    width: 220pt;
   height: 105pt;
    margin-left: auto;
}

/*search result ========================*/
ul.s_result {
    
    list-style: none;
    font-size: 0px;
    margin-left: 2.5%; /* should match li left margin */
}
ul.s_result li {
    width:600pt;
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    
    
}


ul.s_result li img {
    width: 588pt;
   height: 360pt;
    margin-left:  auto;
}
ul.s_result iframe{ width: 98%; height: 360pt }


